.container {
  background-color: #1c1e3e;
  padding: 10px;
}
.wrapper {
  display: flex;
  border-radius: 5px;
  overflow: hidden;
  height: 30px;
  justify-content: space-between;
}
.wrapper button {
  background-color: orange;
  border: none;
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
  width: 30%;
  cursor: pointer;
}
.wrapper button:hover {
  filter: brightness(120%);
}
.wrapper input {
  border: none;
  width: 100%;
  outline: none;
  box-sizing: border-box;
  padding: 0 5px;
}
